.side-bar
  .side-bar__user-name 
    .edit-bar
      .name 
        = current_user.name
      .icons
        .left-icon 
          = link_to do
            %i.far.fa-edit
        .right-icon 
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  
  .side-bar__group-list 
    .group-list
      .group-list--name 
        tech camp
        .group-list--name__message 
          まだメッセージはありません

    .group-list
      .group-list--name 
        NIPPON
        .group-list--name__message
          まだメッセージはありません

    .group-list
      .group-list--name 
        America
        .group-list--name__message 
          まだメッセージはありません
      